#Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#Logomark {}

/**
 * Sol üsteekki KimlikDAO logo ve yazısı
 */
#Logo {
  display: flex;
  align-items: center;
  font-size: 20pt;
  font-weight: 700;
  color: #444;
  margin: 10px;
  padding: 3px;
}

/**
 * Div containing the links in the header, right-aligned to the next of
 * the Wallet component.
 */
#Links {
  display: flex;
}

/**
 * Text link in the header
 */
.Link {
  padding: 10px;
  margin: auto 15px;
}