html {
  -webkit-text-size-adjust: 100%;
  background: #fff;
  color: #444;
  font-family: 'l', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
  color: #444;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  touch-action: manipulation;
  user-select: none;
}

button:disabled {
  cursor: not-allowed;
}

input {
  font-family: inherit;
}

a {
  text-decoration: none;
  color: #444;
}

hr {
  border: 0;
  height: 0;
  padding: 0;
  margin: 3px 0;
  border-bottom: 1px solid #f2f2f2;
}

/**
 * Througout kastro nodisplay and noshare have shortcuts since we strive to render
 * as much as possible to the DOM upfont.
 *
 * @export {NoDisplay}
 * @preserve
 */
.ndp {
  display: none;
}

/**
 * @export {NoShow}
 * @preserve
 */
.nsh {
  opacity: 0;
  pointer-events: none;
}

/**
 * @export {Selected}
 * @preserve
 */
.sel {}

/**
 * @export {Disabled}
 * @preserve
 */
.dis {}

/** left padded ;) */
.Button.LeftPadded {
  margin-right: 1ex;
}

.Button.Action {
  background: #5256c9;
  border-color: #5256c9;
  color: white;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.Button.Action:hover {
  opacity: 1;
}

.Button.Info {
  background: none;
  border: 1px solid #5256c9;
  color: #5256c9;
}

.Button.Blue {
  color: #3182CE;
  border: 1px solid #3182CE;
  background: none;
}

.Button.dis {
  cursor: default;
}

.Button {
  background: none;
  border-radius: 10px;
  border: 1px solid #D1D5DB;
  color: #666;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding: 12px;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
}

.Button.Danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  opacity: 0.9;
}

.Button.Danger:hover {
  opacity: 1;
}

/**
 * Tema mavisi
 */
.Blue {
  color: #3182CE
}

/**
 * Tema moru
 */
.Purple {
  color: #5256c9;
}