#Gallery {
  max-width: 550px;
  margin-left: 2px;
}

@media (max-width: 600px) {
  #Sergi {
    width: 400px;
  }
}

h3 {
  color: #5256c9;
  font-size: 20px;
  margin: 20px 0 5px;
  padding: 0;
}

#Carousel {
  overflow: hidden;
}

/** @export */
#CardSlider {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative;
  transform: translate3d(0, 0, 0);
  transition: transform 1s ease-in-out;
  width: 400%;
  will-change: transform;
}

.Card {
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  line-height: 1.6;
  padding-right: 30px;
  width: 25%;
}

/** @export */
#Bullets {
  height: 20px;
  margin: 0 0 40px;
}

.BulletContainer {
  cursor: pointer;
  display: inline-block;
  padding: 10px 8px;
}

.Bullet {
  background-color: rgba(82, 86, 201, 0.2);
  border-radius: 5px;
  height: 10px;
  transition: background-color 0.3s;
  width: 10px;
}

.Bullet:hover {
  background-color: rgba(82, 86, 201, 1);
}

.Bullet.sel {
  background-color: rgba(82, 86, 201, 0.9);
}