.kux {
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
  padding: 1em;
}

.kux:hover {
  opacity: 1;
}

.kux::before,
.kux::after {
  position: absolute;
  left: 13.5px;
  top: 9.5px;
  width: 2px;
  height: 10px;
  border-radius: 1px;
  background-color: #333;
  content: "";
}

.kux::before {
  transform: rotate(45deg);
}

.kux::after {
  transform: rotate(-45deg);
}
