#tadc{
  margin-top: 2em;
  position: relative;
}

#tada {
  outline: 2px dashed #c2c2c2;
  outline-offset: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  text-align: center;
}

#tada.dragison {
  outline-style: solid;
}

#tain {
  display: none;
}

.tabtn {
  color: #fff;
  background: #3d67ab;
  border: 1px solid #0a46a7;
  opacity: 0.9;
  height: 30px;
  width: 40%;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.tabtn:hover {
  opacity: 1;
}

.taiptal {
  position: absolute;
  cursor: pointer;
  font-weight: 600;
  top: -20px;
  right: 0;
}