#tadc {
  margin-top: 2em;
  position: relative;
}

#taa {
  cursor: default;
}

.tadrpz {
  outline: 1px dashed #c2c2c2;
  border-radius: 5px;
  padding: 2em 1em 1em;
}

.tadrpz.tasrk {
  outline-style: solid;
}

#tain {
  display: none;
}

.tabtn:hover {
  opacity: 1;
}

#taip {
  top: 0;
  right: 0;
}

#tabi {
  color: #555;
  padding: 2em 1em;
}

#tabi td:first-child {
  padding-right: 2em;
}

#tacopy {
  transition: opacity 0.3s;
  opacity: 0.7;
  margin-left: 0.5em;
}

#tacopy:hover {
  opacity: 1;
}

#tacopy:active {
  top: 1px;
  position: relative;
}

.lnk {
  text-decoration: none;
  border-bottom: 1px dotted;
}

.tastt {
  margin: 3em auto 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}

#tal {
  width: 48px;
  height: 48px;
  border: 8px solid #f7f7f7;
  border-top: 8px solid #70a4dc;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#tafail {
  position: relative;
  border: 4px solid #cc0033;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  opacity: 0.5;
  transition: opacity 1s;
}

#tafail:hover {
  opacity: 1;
}

#tafail::before,
#tafail::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 17px;
  width: 6px;
  height: 30px;
  border-radius: 3px;
  background-color: #cc0033;
}

#tafail::before {
  transform: rotate(45deg)
}

#tafail::after {
  transform: rotate(-45deg)
}

#tafb {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  text-align: center;
}

#tafb.inv {
  color: #cc0033;
}

#taebc {
  margin: 1em auto;
  position: relative;
}

#taebc input,
#taebc textarea {
  box-sizing: border-box;
  outline: none;
  padding-left: 5px;
}

#taebc input::-webkit-outer-spin-button,
#taebc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#taebip {
  right: 0;
}

.taebic {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 1em;
}

.taeblc {
  display: flex;
  align-items: center;
  font-size: 10pt;
}

.taitc {
  display: flex;
  align-items: center;
  width: 55%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0 0 0 /0.1);
  box-sizing: border-box;
  font-size: 1rem;
}

.taitc:hover,
.taitc:focus {
  border: 1px solid #70a4dc;
}

#tamoc,
#tatoc {
  width: 30%;
}

.tabtnc {
  display: flex;
  align-items: center;
  width: 15%;
}

.taplab {
  width: 70%;
}

.taebi {
  outline: none;
  border: none;
  font-size: 1rem;
  width: 90%;
  height: 100%;
  border-radius: 5px;
}

.taio {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 40px;
  opacity: 0.6;
  cursor: pointer;
}

.taio:hover {
  opacity: 1;
}

#tateli::placeholder {
  opacity: 0.5;
}

#taadi {
  width: 100%;
  height: 100%;
  font-family: inherit;
}

#tamoc.invalid,
#tatoc.invalid,
.taitc.invalid {
  border-color: #cc0033;
}

.tatick {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8fcf8f;
  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-weight: 700;
}

#taadres {
  position: relative;
  margin-bottom: 1em;
}

#taadt {
  position: absolute;
  bottom: 20px;
  right: 5px;
}

.taebds {
  font-size: 10pt;
  text-align: end;
}

#taebds {
  opacity: 0.7;
  outline: none;
}

#taebds:hover,  
#taebds:focus {
  opacity: 1;
  text-decoration: underline;
  color: #70a4dc;
}