/**
 * Blog post preview
 */
.Preview {
  padding: 0;
  margin: 0;
  border: 1px solid #eee;
  border-radius: 20px;
  text-decoration: none;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/**
 * Blog post preview banner
 */
.PreviewBanner {
  width: 100%;
}

h4 {
  color: #555;
  font-size: 14pt;
  margin: 18px 20px 15px;
}

/**
 * Blog post preview metni
 */
.PreviewMetni {
  font-size: 16px;
  line-height: 1.4;
  color: #666;
  margin: 10px 20px;
}

/**
 * Blog post preview footer
 */
.PreviewFooter {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

/**
 * Oku düğmesi
 */
.OkuDüğmesi {
  border: none;
  border-radius: 10px;
  padding: 0 20px;
  height: 45px;
  transition: background-color 0.3s;
}