/**
 * Sergi bileşeni
 * @name {Kök}
 */
#se {
  max-width: 550px;
  margin-left: 2px;
}

@media (max-width: 600px) {
  #se {
    width: 400px;
  }
}

h3 {
  color: #5256c9;
  font-size: 20px;
  margin: 20px 0 5px;
  padding: 0;
}

#sec {
  overflow: hidden;
}

#sem {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative;
  transition: transform 1s ease-in-out;
  width: 400%;
}

.sek {
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  line-height: 1.6;
  padding-right: 30px;
  width: 25%;
}

#sen {
  height: 20px;
  margin: 0 0 40px;
}

.seb {
  cursor: pointer;
  display: inline-block;
  padding: 10px 8px;
}

.sei {
  background-color: rgba(82, 86, 201, 0.2);
  border-radius: 5px;
  height: 10px;
  transition: background-color 0.3s;
  width: 10px;
}

.sei:hover {
  background-color: rgba(82, 86, 201, 1);
}

.sei.sel {
  background-color: rgba(82, 86, 201, 0.9);
}