#se {
  max-width: 550px;
  margin-left: 2px;
}

/*
.sed {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  opacity: 0.3
}

.sed:hover {
  opacity: 0.7;
}

.sed.prev::before,
.sed.next::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: solid rgb(0, 0, 0);
  border-radius: 2px;
}


.sed.prev::before {
  transform: rotate(45deg);
  border-width: 0 0 4px 4px;
}

.sed.next::before {
  transform: rotate(-45deg);
  border-width: 0 4px 4px 0px;
}
*/

h2 {
  color: #5256c9;
  font-size: 20px;
  margin: 20px 0 5px;
  padding: 0;
}

#sec {
  overflow: hidden;
}

#sem {
  display: flex;
  list-style: none;
  padding: 0;
  position: relative;
  transition: transform 1s;
  width: 400%;
}

.sek {
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  line-height: 1.6;
  padding-right: 30px;
  width: 25%;
}

#sen {
  height: 20px;
  margin: 0 0 40px;
}

.seb {
  cursor: pointer;
  display: inline-block;
  padding: 10px 8px;
}

.sei {
  background-color: rgba(82, 86, 201, 0.2);
  border-radius: 5px;
  height: 10px;
  transition: background-color 0.3s;
  width: 10px;
}

.sei:hover {
  background-color: rgba(82, 86, 201, 1);
}

.sei.sel {
  background-color: rgba(82, 86, 201, 0.9);
}