html {
  background-size: 8px 8px;
  min-height: 100%;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  display: inline-block;
}

.nw {
  white-space: nowrap;
}

.actbutton {
  width: 115px;
  height: 25px;
  background: #4c5094;
  padding: 0.8em;
  text-align: center;
  border-radius: 5px;
  color: white;
  line-height: 25px;
  transition: width 0.2s, background-color 0.2s;
}

.actbutton.disabled {
  cursor: default;
}

.actbutton.done {
  cursor: default;
}

button {
  border: 3px solid #666;
  border-radius: 5px;
  padding: 0.8em;
  font-size: 13pt;
  cursor: pointer;
}

button.act {
  background: #aae;
  border-color: #446;
}

/* Navigation */
#n {
  display: flex;
  width: 100%;
  margin: 8px auto;
  justify-content: space-between;
  max-width: 1200px;
}

#nl {
  width: 100px;
}

/* Banner */
#b {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#ba {
  max-width: 50%;
  margin: 3em 2em;
  font-size: 13pt;
}

#ba li {
  margin: 1.2em 0 1.2em -1.2em;
}

#bab {
  font-size: 1.2em;
}

#bac {
  margin: 1.6em 0.1em;
}

/* Ortaklar */
#o {
  width: 50%;
  max-width: 800px;
  margin: 7em auto;
  display: flex;
  justify-content: space-between;
}

#oa,
#ol {
  cursor: pointer;
  width: 200px;
  height: 150px;
  border: 1px solid #444;
}

#ph.show {
  position: relative;
  margin: 40px 20px;
  width: 240px;
  height: 520px;
  background-color: #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919,
    0px 0px 0px 15px #111;
}
/*Dropdown Button*/
.ld-dropbtn {
  border: 3px solid #666;
  border-radius: 5px;
  padding: 0.8em;
  font-size: 13pt;
  cursor: pointer;
}

/* .dropbtn:hover,
.dropbtn:focus {
  background-color: #298;    will be decided later!        
} */

.ld {
  position: relative;
  display: inline-block;
}

.ld-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  overflow: auto;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  animation: growDown 300ms ease-in-out forwards;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.ld-dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.ld-dropdown-content a:hover {
  background-color: #f1f1f1; /*will be decided later! */
}

.show {
  display: block;
}
