#n {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
}

.ne {
  padding: 10px;
  margin: auto 15px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#nk {
  display: flex;
  align-items: center;
}

#nd {
  align-items: center;
  display: flex;
  margin: 0 12px 0 2px;
  min-width: 10ex;
  padding: 0 1em;
  text-align: center;
}

#ba {
  background:
    radial-gradient(circle at 20% 20%, rgb(144, 205, 244, 0.1) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 70% 10%, rgb(99, 179, 237, 0.1) 0%, rgba(255, 255, 255, 0) 60%),
    radial-gradient(circle at 60% 90%, rgb(49, 130, 206, 0.4) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 10% 80%, rgb(66, 153, 225, 0.1) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 0% 55%, rgb(163, 109, 211, 0.4) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(circle at 75% 60%, rgb(99, 55, 186, 0.3) 0%, rgba(255, 255, 255, 0) 40%);

  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

#bat {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  max-width: 1200px;
  padding: 0 0 200px;
  width: 100%;
  margin-top: 30px;
}

#bats {
  margin: 0 2em;
}

h1 {
  color: #555;
  display: inline-block;
  font-size: 35pt;
  margin: 0;
  padding: 50px 10px 10px;
  text-align: center;
  width: 100%;
}

#bz {
  color: #888;
  font-size: 13pt;
  margin-top: 2em;
}


@media (max-width: 950px) {
  #nd {
    display: none;
  }
}

@media (max-width: 800px) {
  .ne, #di {
    display: none;
  }
}

#babn {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

#baal {
  margin-right: 20px;
}