#baa {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
}

#bal {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 12px 0 2px;
  min-width: 10ex;
  padding: 0 1em;
}

@media (max-width: 950px) {
  #bal {
    display: none;
  }
}