html {
  font-family: "f", sans-serif;
  font-size: 11pt;
  font-weight: 400;
}

input {
  font-family: "f", sans-serif;
}

button {
  color: #555;
  font-family: "f", sans-serif;
  font-size: 11pt;
  font-weight: 700;
}

html {
  -webkit-text-size-adjust: 100%;
  background-size: 8px 8px;
  background: #fff;
  color: #333;
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  margin: 0;
}

b {
  font-weight: 700;
}

h2 {
  font-size: 21pt;
  font-weight: 700;
  margin: 10px;
  padding: 3px;
}

.btn.lft {
  margin-right: 1ex;
}

.act.btn {
  background: #3d67ab;
  color: white;
  border: 1px solid #0a46a7;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.act.btn:hover {
  opacity: 1;
}

.btn.dis {
  cursor: default;
}

.btn {
  font-weight: 700;
  color: #666;
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  touch-action: manipulation;
  display: inline-block;
  padding: 12px;
  line-height: 1;
  user-select: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
  text-align: center;
}

.btn.danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  opacity: 0.9;
}

.btn.danger:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: #000;
}

h1 {
  display: inline-block;
}

.actbutton {
  width: 115px;
  height: 25px;
  background: #0c56d0;
  border: 1px solid #0a46a7;
  padding: 0.8em;
  text-align: center;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  line-height: 25px;
  transition: width 0.2s, background-color 0.2s;
}

button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

button:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

button:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

button:focus {
  outline: 1px transparent;
}

button:before {
  display: none;
}

button:-webkit-details-marker {
  display: none;
}

button {
  background-color: #fafbfc;
  border: 1px solid rgba(27, 31, 35, 0.15);
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  touch-action: manipulation;

  line-height: 1;
  user-select: none;
  min-height: 45px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0;
}

button:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#n {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 20;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#nk {
  display: flex;
  align-items: center;
}
#nkg {
  margin-left: 10px;
}

.nf {
  display: flex;
}

#nd {
  align-items: center;
  display: flex;
  margin: 0 10px;
  min-width: 10ex;
  padding: 0 1em;
  text-align: center;
}

/* Banner */
#b {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10em;
}

#ba {
  font-size: 13pt;
  margin: 3em 2em;
  max-width: 50%;
}

#ba li {
  margin: 1.2em 0 1.2em -1.2em;
}

#bab {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
}

#bac {
  margin: 1.6em 0.1em;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.1);
  }

  100% {
    transform: scaleY(1);
  }
}

#bt {
  display: flex;
  max-width: 1200px;
  width: 100%;
}

h1 {
  background: rgb(244, 244, 244);
  color: #3c4043;
  font-size: 38pt;
  font-weight: 800;
  height: 200px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}

#bz {
  color: #888;
  font-size: 13pt;
  margin-top: 2em;
}

#bu {
  display: flex;
  justify-content: center;
  width: 100%;
}

#bu > #te {
  margin-top: -30px;
}

@media (max-width: 930px) {
  #bu {
    flex-wrap: wrap-reverse;
    margin-top: 350px;
  }
}

@media (max-width: 650px) {
  #nd {
    display: none;
  }
}

@media (max-width: 550px) {
  #nl {
    display: none;
  }

  #nkd {
    display: none;
  }

  #na {
    margin-right: 10px;
  }
}

.xbtn {
  position: absolute;
  opacity: 0.3;
  cursor: pointer;
  padding: 1em;
}

.xbtn:hover {
  opacity: 1;
}

.xbtn::before,
.xbtn::after {
  position: absolute;
  left: 13.5px;
  top: 9.5px;
  width: 2px;
  height: 10px;
  border-radius: 1px;
  background-color: #333;
  content: "";
}

.xbtn::before {
  transform: rotate(45deg);
}

.xbtn::after {
  transform: rotate(-45deg);
}
