#tc {
  position: absolute;
  width: 280px;
  height: 280px;
  transform-style: preserve-3d;
  transition-property: transform, border;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  background: #fff;
  z-index: 4;
}

#tc.flipped {
  transform: rotateY(-180deg);
}

/* TCKT Düğmesi */
.tcd {
  position: absolute;
  width: 10px;
  height: 10px;
  padding: 10px;
  opacity: 0.3;
  top: 110px;
}

.tcd:hover {
  opacity: 0.7;
}

#tca,
#tci {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
}

/* Kapak yüzü */
#tca {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(0deg);
}

/* Bilgi yüzü */
#tci {
  transform: rotateY(180deg);
}

/* Kartlar */
#tck {
  width: 1250px;
  height: 100%;
  display: flex;
  transition: transform 1s;
}

.tcp {
  width: 250px;
  height: 250px;
}

#tcso {
  left: 0;
}

#tcsa {
  right: 0;
}

#tcso::before,
#tcsa::before {
  position: absolute;
  width: 10px;
  height: 10px;
  content: "";
  border: solid rgb(0 0 0);
  border-radius: 2px;
  box-sizing: border-box;
}

#tcso::before {
  border-width: 0 0 4px 4px;
  transform: rotate(45deg);
}

#tcsa::before {
  border-width: 0 4px 4px 0;
  transform: rotate(-45deg);
}

.tcip {
  padding: 4ex 40px;
}

.tcl {
  font-size: 7px;
  padding: 5px 0 0;
}

.tcpc {
  display: flex;
  justify-content: space-between;
}

#tcam {
  min-width: 4em;
}

h7 {
  font-size: 9pt;
  color: #999;
  font-weight: 400;
  display: block;
  margin: 1em 0;
}

.tcal {
  line-height: 1.5;
}