#Root {
  display: flex;
  height: 90px;
  padding: 8px;
}

/** @export */
#KPassImage {
  cursor: pointer;
  margin-right: 8px;
  background: #fff;
  border: 1px solid rgba(200, 200, 200, 0.5);
}

/** @export */
#AddresText {
  color: #666;
  cursor: pointer;
  font-size: 10pt;
  font-weight: 700;
  line-height: 0.4;
  margin-top: 5px;
  white-space: nowrap;
}

/** @export */
#CopyButton {
  margin-left: 5px;
}

/** @export */
#DeBankLink {
  cursor: pointer;
  font-size: 9pt;
  color: #666;
}

/** @export */
#ExplorerLink {
  cursor: pointer;
  font-size: 9pt;
  color: #666;
}

/** @export */
#KPassButton {
  display: block;
  margin-top: 20px;
}