#te {
  border-radius: 40px;
  border: 5px solid #333;
  height: 550px;
  min-width: 280px;
  position: relative;
  width: 280px;
}

#tebg {
  background-color: #fff;
  border-radius: 40px;
  height: 100%;
  position: absolute;
  transition: filter 0.3s ease-in;
  width: 100%;
}

#tebg.whenmsg {
  filter: blur(3px);
}

.tefr {
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding-top: 60px;
}

.tesr {
  display: flex;
  font-size: 9pt;
  justify-content: center;
  padding-bottom: 20px;
}

#tetr {
  background-color: #E8F9FD;
  border-radius: 13px;
  color: #999;
  margin: 0 80px;
  padding: 5px 20px;
  width: fit-content;
}

.tefor {
  display: flex;
  font-size: 12px;
  padding-top: 40px;
}

.tefort {
  border-bottom: 1px solid #73777B;
  color: #73777B;
  height: 26px;
  text-align: center;
  width: 50%;
}

.teforn {
  border-bottom: 2px solid #3d67ab;
  color: #3d67ab;
  height: 25px;
  text-align: center;
  width: 50%;
}

.tefir {
  display: flex;
  justify-content: space-around;
  padding: 25px 5px;
}

.tefirn {
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
  height: 125px;
  width: 125px;
}

#tefirw {
  background: rgb(255 255 255 / 0.8);
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  left: 5px;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 210px;
  transition: opacity 0.4s ease-in;
  width: 270px;
}

#tefirw.show {
  opacity: 1;
}

#tefirwt {
  padding: 35px 10px;
}

#tefirwyn {
  border-top: 0.3px solid #ccc;
  display: flex;
  height: 40px;
}

#tefirwn,
#tefirwy {
  padding: 10px;
  width: 50%;
}

#tefirwy {
  border-left: 0.3px solid #ccc;
  font-weight: 700;
}

#tenftb {
  height: 100%;
  perspective: 750px;
  position: absolute;
  width: 100%;
}

#tenftb.whenmsg {
  filter: blur(3px);
}

#tenft-button {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  bottom: 209px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  cursor: pointer;
  display: flex;
  height: 30px;
  justify-content: center;
  left: 15px;
  opacity: 0;
  position: absolute;
  transform-style: preserve-3d;
  transform: scale(0.5) translate3d(-70px, 300px, -250px);
  transition: transform 1s ease-in, opacity 1s ease-in;
  width: 250px;
}

#tenft-button.show {
  transform: none;
  opacity: 1;
}

#tc.moveintowallet {
  transform: translate(-70px, 265px) scale(0.5);
  border: 2px solid #ccc;
}
