#te {
  width: 280px;
  height: 550px;
  border: 5px solid #333;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

#tebg {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: filter 0.3s ease-in;
  background-color: #fff;
  z-index: -10;
  filter: none;
}

#tebg.whenmsg {
  filter: blur(1px);
}

.tefr {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-top: 60px;
}

.tesr {
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding-bottom: 20px;
}

#tetr {
  background-color: #E8F9FD;
  padding: 5px 20px;
  color: #999;
  width: fit-content;
  margin: 0 80px;
  border-radius: 13px;
}

.tefor {
  display: flex;
  padding-top: 40px;
  font-size: 12px;
}

.tefort {
  width: 50%;
  height: 26px;
  text-align: center;
  color: #73777B;
  border-bottom: 1px solid #73777B;
}

.teforn {
  width: 50%;
  height: 25px;
  text-align: center;
  border-bottom: 2px solid #3d67ab;
  color: #3d67ab;
}

.tefir {
  display: flex;
  justify-content: space-around;
  padding: 25px 5px;
}

.tefirn {
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
  width: 125px;
  height: 125px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#tefirw {
  position: absolute;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
  border-radius: 10px;
  text-align: center;
  background: rgb(255 255 255 / 0.95);
  backdrop-filter: blur(1px);
  width: 270px;
  top: 300px;
  left: 5px;
  padding-top: 40px;
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

#tefirw.show {
  opacity: 1;/*TODO MuhammetCoskun animation*/
}

.tefirwyn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-top: 0.3px solid #ccc;
  border: 0 0 4px 4px;
  overflow: hidden;
}

.tefirwyn div {
  width: 50%;
  padding: 5px 10px;
  color: rgb(10 122 255);
}

.tefirwn {
  font-weight: 100;
  border-right: 0.3px solid #ccc;
}

/*telefon nft*/

#tenftb {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.te-nft-container {
  position: absolute;
  width: 250px;
  height: 250px;
  top: 50px;
  left: 15px;
  transform-style: preserve-3d;
  transition-property: transform, border;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  background: #fff;
}

#tenft-button {
  display: flex;
  position: absolute;
  opacity: 0;
  width: 25px;
  height: 3px;
  background-color: #fff;
  bottom: 100px;
  left: 15px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  transition-property: opacity, bottom, width, height;
  transition-duration: 1s;
  transition-timing-function: ease-in;
  z-index: -50;
}

#tenft-button.show {
  width: 250px;
  height: 30px;
  opacity: 1;
  bottom: 209px;
}

.te-nft-container.flipped {
  transform: rotateY(180deg);
}

.te-nft-container.moveintowallet {
  transform: translate(-70px, 265px) scale(0.5);
  border: 2px solid #ccc;
}

.te-TCKT {
  position: absolute;
  width: 250px;
  height: 250px;
  backface-visibility: hidden;
}

.te-TCKT.locked {
  display: flex;
  align-items: center;
  justify-content: center;
}

.te-TCKT.unlocked {
  transform: rotateY(180deg);
}

#teTCKT-kb {
  padding: 18px 40px;
  position: absolute;
}

#teTCKT-kb label {
  font-size: 7px;
}
