#te {
  width: 280px;
  height: 550px;
  margin-top: 30px;
  border: 5px solid #333;
  border-radius: 40px;
  font-weight: 700;
  position: relative;
  overflow: hidden;
  z-index: -1;
}

#tebg {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: background 0.3s ease-in;
  z-index: -10;
}

#tebg.whenmsg {
  filter: blur(1px);
}

.tefr {
  display: flex;
  justify-content: center;
  font-size: 24px;
  padding-top: 60px;
}

.tesr {
  display: flex;
  justify-content: center;
  font-size: 10px;
  padding-bottom: 20px;
}

#tetr {
  background-color: #E8F9FD;
  padding: 5px 20px;
  color: #999;
  width: fit-content;
  margin: 0 80px;
  border-radius: 13px;
}

.tefor {
  display: flex;
  padding-top: 40px;
  font-size: 12px;
}

.tefort {
  width: 50%;
  height: 26px;
  text-align: center;
  color: #73777B;
  border-bottom: 1px solid #73777B;
}

.teforn {
  width: 50%;
  height: 25px;
  text-align: center;
  border-bottom: 2px solid #3d67ab;
  color: #3d67ab;
}

.tefir {
  display: flex;
  justify-content: space-around;
  padding: 25px 5px;
}

.tefirn {
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
  width: 125px;
  height: 125px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#tefirw {
  position: absolute;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 15%);
  border-radius: 10px;
  text-align: center;
  background: rgb(255 255 255 / 0.8);
  backdrop-filter: blur(1px);
  width: 270px;
  top: 300px;
  left: 5px;
  padding-top: 40px;
  opacity: 0;
  transform: scale(0);
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in;
}

#tefirw.show {
  opacity: 1;
  transform: scale(1);
}

.tefirwyn {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  border-top: 0.3px solid #ccc;
  border: 0 0 4px 4px;
  overflow: hidden;
}

.tefirwyn div {
  width: 50%;
  padding: 5px 10px;
  color: rgb(10 122 255);
}

.tefirwn {
  font-weight: 100;
  border-right: 0.3px solid #ccc;
}