@font-face {
  font-family: 'i';
  src: url('/font/i/i400.otf') format('opentype');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'i';
  src: url('/font/i/i700.otf') format('opentype');

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'i';
  src: url('/font/i/i750.otf') format('opentype');

  font-weight: 750;
  font-style: normal;
}
