@font-face {
  font-family: 'f';
  src: url('/font/f400.woff2') format('woff2'),
    url('/font/f400.woff') format('woff'),
    url('/font/f400.ttf') format('truetype');

  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'f';
  src: url('/font/f400i.woff2') format('woff2'),
    url('/font/f400i.woff') format('woff'),
    url('/font/f400i.ttf') format('truetype');

  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'f';
  src: url('/font/f700.woff2') format('woff2'),
    url('/font/f700.woff') format('woff'),
    url('/font/f700.ttf') format('truetype');

  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'f';
  src: url('/font/f700i.woff2') format('woff2'),
    url('/font/f700i.woff') format('woff'),
    url('/font/f700i.ttf') format('truetype');

  font-weight: 700;
  font-style: italic;
}
