#he {
  padding: 40px 60px;
  border-radius: 22px;
  /**
   * #8e2de2 -> rgb(142, 45, 226)
   */
  background:
    radial-gradient(circle at 20% 20%, rgba(144, 205, 244, 0.1) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 70% 10%, rgba(99, 179, 237, 0.1) 0%, rgba(255, 255, 255, 0) 60%),
    radial-gradient(circle at 60% 90%, rgba(49, 130, 206, 0.4) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 10% 80%, rgba(66, 153, 225, 0.1) 0%, rgba(255, 255, 255, 0) 40%),
    radial-gradient(circle at 0% 55%, rgba(163, 109, 211, 0.2) 0%, rgba(255, 255, 255, 0) 50%),
    radial-gradient(circle at 75% 60%, rgba(99, 55, 186, 0.3) 0%, rgba(255, 255, 255, 0) 40%);
}

#het {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1400px;
}

#hes {
  margin: auto 20px;
  max-width: 750px;
}

h1 {
  color: #333;
  display: inline-block;
  font-size: 50pt;
  margin: 0;
  text-align: left;
}

#heb {
  display: flex;
}

#hel {
  margin-right: 20px;
}

#te {
  margin: 0 20px;
}

@media (max-width: 1000px) {
  #he {
    border-radius: 0;
  }

  #te {
    display: none;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 40pt;
  }
}