#he {
  background: linear-gradient(100deg, #D1EAFF 11%, rgba(226, 190, 255, 0.274) 83%, rgba(20, 0, 255, 0) 110%);
  border-radius: 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#het {
  display: flex;
  justify-content: space-around;
  margin: 40px;
  width: 100%;
}

#hes {
  margin: 0 2em;
  max-width: 750px;
}

h1 {
  color: #333;
  display: inline-block;
  font-size: 50pt;
  margin: 0;
  padding: 50px 0 0;
  text-align: left;
}

#heb {
  display: flex;
}

#hel {
  margin-right: 20px;
}

@media (max-width: 1000px) {
  #he {
    border-radius: 0;
  }
  #te {
    display: none;
  }
}
