#he {
  background: linear-gradient(100deg, #D1EAFF 11%, rgba(226, 190, 255, 0.274) 83%, rgba(20, 0, 255, 0) 110%);
  border-radius: 22px;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

#het {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
  margin: 40px;
}

#hes {
  margin: 0 2em;
  max-width: 800px;
}

h1 {
  color: #222;
  display: inline-block;
  font-size: 50pt;
  margin: 0;
  padding: 50px 0 0;
  text-align: left;
}

#heb {
  display: flex;
}

#hel {
  margin-right: 20px;
}


@media (max-width: 800px) {
  #he {
    border-radius: 0;
    margin:0;
  }
}
