#bipc {
  margin: 2em;
}

.bistep {
  max-width: 500px;
  margin: auto;
  border: 4px solid #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  padding: 1.5em;
  opacity: 1;
  transition: opacity 0.3s;
}

#biiic {
  margin-top: 1em;
}

#biiil {
  margin: 0;
  padding: 0;
  list-style: none;
}

#bimc {
  position: absolute;
  max-width: 500px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  flex-wrap: wrap;
}

#bix {
  top: 5px;
  right: 5px;
}

#bimc input::-webkit-outer-spin-button,
#bimc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bim {
  width: 100%;
  padding: 3em 1.5em 1.5em;
}

#bibd {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255 255 255 / 60%);
  z-index: 5;
}

.biiia {
  display: flex;
  align-items: center;
  font-family: monospace;
  height: 40px;
  cursor: pointer;
  margin: 1em 0;
  border: 1px solid transparent;
  border-radius: 5px;
  box-sizing: border-box;
  word-break: break-all;
  padding: 1em;
}

.biiia:hover,
.biiia:focus {
  border: 1px solid #70a4dc;
}

.biiia.sel {
  background-color: #70a4dc;
  color: #fff;
}