.blpc.dobby {
  border: 2px solid #F4BCFD;
}

.blpi.dobby {
  background-color: rgba(244, 188, 253, 0.3);
}

#bldob {
  border-radius: 11px;
}

.blyes {
  color: #066a52;
  background-color: #cff4ea;
}