#ba {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#bag {
  display: flex;
  align-items: center;
  font-size: 20pt;
  font-weight: 700;
  color: #444;
  margin: 10px;
  padding: 3px;
}

#baf {
  display: flex;
}

.bae {
  padding: 10px;
  margin: auto 15px;
}

@media (max-width: 800px) {
  .bae,
  #di {
    display: none;
  }
}
