#Root {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: auto 1fr;
  gap: 40px 2%;
}

#LeftColumn {
  grid-column: 1;
  grid-row: 2
}

#RightColumn {
  grid-column: 2;
  grid-row: 2;
  overflow: hidden;
}

#RightScroll {
  height: 100%;
  overflow-y: auto;
}

/** @export */
#Panes {}

#Welcome {
  max-width: 550px;
  margin: 0 0 30px 24px;
}

h2 {
  margin: 5px 0;
}

#Welcome>p {
  font-size: 15px;
  line-height: 1.4;
}

/** @export */
#WelcomeButton {}