#Root {
  max-width: 1200px;
  margin: 2em auto;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 40px 2%;
}

#LeftColumn {
  margin: 0 auto;
  grid-column: 1;
}

#RightColumn {
  grid-column: 2;
  min-width: 0;
  /* Allow content to shrink */
  overflow: hidden;
}

#RightScroll {
  height: 100%;
  overflow-y: auto;
}

/** @export */
#Panes {}

#Welcome {
  max-width: 550px;
  margin: 0 0 30px 24px;
}

h2 {
  margin: 5px 0;
}

#Welcome>p {
  font-size: 15px;
  line-height: 1.4;
}

/** @export */
#WelcomeButton {}

@media (max-width: 900px) {
  #Root {
    grid-template-columns: 1fr;
  }
}