#alt {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 70px 0 40px;
}

.altc {
  margin: 7px 40px 0;
}

.altc>b {
  color: #061C3D;
}

.altc>a {
  display: block;
  margin: 15px 0;
  color: #666;
}

@media (max-width: 600px) {
  #altk {
    display: none;
  }
}

#altk {
  padding: 0 20px;
}

#altl {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

#altt {
  margin-top: 20px;
  display: inline-block;
  max-width: 320px;
  color: #666;
  line-height: 1.5;
}

#altm {
  margin: 50px 0 10px;
  font-weight: 700;
  font-size: 13px;
}

#altb {
  width: 330px;
}