#ka {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

#kaa {
  padding: 20px;
}

#kat {
  color: #3182CE
}

#kab {
  font-size: 16px;
  line-height: 1.4;
}

#kao {
  margin-top: 30px;
}

@media (min-width: 620px) and (max-width: 950px) {
  #ka, #ag {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 620px) {
  #ka, #ag {
    grid-template-columns: 1fr;
  }
}