.dropdown {
    position: relative;
    cursor: pointer;
}

.chain-button {
    min-height: 54px;
    min-width: 54px;
    padding: 2px 0 0 0;
}

.dropdown-content {
    margin: 5px 0;
    padding: 0;
    width: 215px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    list-style: none;
    z-index: 1;
}

.dropdown-content li {
    height: 45px;
    margin: 5px;
    padding: 5px 13px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.dropdown-content li:hover {
    background-color: #f2f2f2;
}


.backdrop {
    display: block;
    position: fixed;
    z-index: 0.9;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor:default;
}
