#imc {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

#imc input {
    height: 28px;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 0.4em;
    outline: none;
}

#imc input::-webkit-outer-spin-button,
#imc input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#imc input:focus {
    border: 2.4px solid #4c5094;
}

.imlbl {
    display: flex;
    justify-content: space-between;
    margin: 1em 0.1em 0.8em 0;
}

.imcont {
    display: flex;
    justify-content: space-between;
    margin: 0.8em auto;
}

.imai {
    width: 85%;
    font-family: monospace;
}

.imwi {
    width: 10%;
    text-align: center;
}

.imtb {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}
