
.form-wrapper {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.form-wrapper input {
    height: 28px;
    font-size: 12pt;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 0.4em;
    transition: border 0.3s;
    outline: none;
}

.form-wrapper input::-webkit-outer-spin-button,
.form-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-wrapper input:focus {
    border: 2.4px solid #4c5094;
}

.imlbl {
    display: flex;
    justify-content: space-between;
    margin: 1em 0.1em 0.8em 0;
}

.imcont {
    display: flex;
    justify-content: space-between;
    margin: 0.8em auto;
}

.address-input {
    width: 85%;
    font-family: monospace;
}

.weight-input {
    width: 10%;
    text-align: center;
}

.iitb {
    display:flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}