#bs {
    max-width: 50%;
    margin: 1em 2em;
    font-size: 12pt;
}

#s {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.step {
    width: 500px;
    margin: 1em;
    border: 4px solid #fff;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
    border-radius: 10px;
    padding: 1.5em;
    opacity: 1;
    transition: opacity 0.3s;
}

.step.disabled {
    opacity: 0;
}

.step.done {
    opacity: 0.8;
}

/*-----------Social Revoke Related-------------*/

.invisible {
    display: none;
}

.form-wrapper {
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
}

.form-wrapper input {
    height: 28px;
    font-size: 12pt;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 0.4em;
    transition: border 0.3s;
    outline: none;
}

.form-wrapper input::-webkit-outer-spin-button,
.form-wrapper input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-wrapper input:focus {
    border: 2.4px solid #4c5094;
}

.labels {
    display: flex;
    justify-content: space-between;
    margin: 2em 0.1em 0.8em 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 0.8em auto;
}

.address-input {
    width: 85%;
}

.weight-input {
    width: 10%;
    text-align: center;
}

.sr:t {
    display:flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 10px;
}

/*------------------------------------------*/
/*----------------ChainDropdown-------------*/

.dropdown {
    position: relative;
    cursor: pointer;
}

.chain-button {
    min-height: 54px;
    min-width: 54px;
    padding: 2px 0 0 0;
}

.dropdown-content {
    margin: 5px 0;
    padding: 0;
    width: 215px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.2);
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    list-style: none;
    z-index: 1;
}

.show {
    display: block !important;
}

.dropdown-content li {
    height: 45px;
    margin: 5px;
    padding: 5px 13px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.dropdown-content li:hover {
    background-color: #f2f2f2;
}


.backdrop {
    display: block;
    position: fixed;
    z-index: 0.9;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    cursor:default;
}

/*------------------------------------------*/
.TCKT {
    margin-top: 2em;
    padding: 1em;
    border: 3px solid rgb(128, 132, 136);
    border-radius: 10px;
    transition: opacity .4s;
    width: 300px;
    height: 150px;
    overflow: hidden;
}

.TCKT th {
    text-align: right;
    width: 110px;
}