.blpc.mina {
  border: 2px solid #979bed
}

.blpi.mina {
  background-color: #f5f5fd;
}

/** @name {Turuncu} */
.bltur {
  color: #ff603b;
  background-color: #ffdfd8
}

/** @export {RemainingBar} */
#blmb {}