#oy {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#oyy {
  width: 300px;
  max-height: 70px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  background-color: #fff;
  margin: 1em;
  overflow: hidden;
}

@media (max-width: 425px) {
  #oyy {
    width: 80%;
  }
}

#oyy.open_form {
  max-width: 800px;
  width: 80%;
  max-height: 1000px;
  cursor: default;
}

#oyytitle {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#oyytabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#oyytabs input[type="radio"] {
  display: none;
}

.oyy_tablabel {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 33%;
  height: 40px;
  opacity: 0.5;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(0 0 0 / 15%);
  box-sizing: border-box;
  transition-property: opacity, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  text-align: center;
}

.oyy_tablabel.sol {
  border-left: none;
  width: 34%;
}

@media (max-width: 320px) {
  .oyy_tablabel {
    font-size: 10pt;
  }
}

.oyytab {
  width: 100%;
  padding: 1em;
  display: none;
  order: 1;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#oyytabs input[type="radio"]:checked+.oyy_tablabel {
  opacity: 1;
  border: 1px solid rgb(0 0 0 / 15%);
  border-bottom: 1px solid transparent;
}

#oyytabs input[type="radio"]:checked+.oyy_tablabel.sol {
  border-left: none;
  border-top-right-radius: 10px;
}

#oyytabs input[type="radio"]:checked+.oyy_tablabel.orta {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#oyytabs input[type="radio"]:checked+.oyy_tablabel.sag {
  border-right: none;
  border-top-left-radius: 10px;
}

#oyytabs input[type="radio"]:checked+label+.oyytab {
  display: flex;
}

.oyypcc input::-webkit-outer-spin-button,
.oyypcc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.oyypcc {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 425px) {
  .oyypcc {
    display: block;
  }
}

.oyytoc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.oyynpc {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

#oyystoc {
  display: flex;
  align-items: center;
  min-width: 90px;
  min-height: 40px;
}

.oyysto {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5em;
  min-width: 80px;
}

#oyytul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 425px) {
  #oyytul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.oyytli {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;
  padding: 0.5em 0;
}

.oyytli.sel {
  background: rgb(0 0 0 / 5%);
}

.oyynp {
  display: flex;
  width: 60px;
  align-items: center;
  margin-left: 0.5em;
}

#oyyyf {
  outline: none;
  border: none;
  text-align: end;
  width: 100%;
  font-family: monospace;
  font-size: 13pt;
}

#oyyyf::placeholder {
  opacity: 0.5;
}

.oyyor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 2em;
}

.oyc {
  max-width: 800px;
  width: 80%;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin-bottom: 3em;
}

.oycb {
  padding: 1em;
  font-weight: 700;
  font-size: 11pt;
  color: #888;
  border-bottom: 1px solid rgba(0 0 0 / 10%);
}

.oyok {
  max-height: 150px;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  border-bottom: 1px solid rgba(0 0 0 / 10%);
}

@media (max-width: 425px) {
  .oyok {
    max-height: 280px;
  }
}

.oyok.expand {
  max-height: 1000px;
  cursor: default;
}

.oyok:last-child {
  border-radius: 10px;
}

.oyao_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.oyaotitle {
  font-size: 12pt;
  font-weight: 700;
  color: #555;
}

.oyaotb {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 20px;
  opacity: 0.3;
  background-color: rgb(0 0 0);
  border-radius: 2px;
  transition: opacity 0.3s ease-in;
}

.oyaotb:hover {
  opacity: 0.7;
}

.oyaotb::before {
  position: absolute;
  top: 8px;
  left: 8px;
  content: "";
  height: 6px;
  width: 6px;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.oyao_middle {
  display: flex;
  width: 100%;
}

@media (max-width: 425px) {
  .oyao_middle {
    display: block;
  }
}

.oyaodac {
  width: 100%;
}

.oyaod {
  margin-top: 0.5em;
}

.oyaoac {
  margin-top: 1em;
  font-family: monospace;
  color: rgb(0 0 0 / 50%);
}

.oyaorem {
  color: rgb(0 0 0 / 60%);
  font-size: 10pt;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.oyaoclock {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.oyaoclock::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #90C8AC;
  box-sizing: border-box;
}

.oyaoclock::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 5px;
  top: 3px;
  left: 7px;
  border: solid #90C8AC;
  border-width: 0 0 1.5px 1.5px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.column {
  margin-right: 0.5em;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 2px;
  width: 25px;
  height: 80px;
}

.column.yes {
  height: 80px;
  background-color: #90C8AC;
}

.column.no {
  height: 30px;
  background-color: #FF8B8B;
}

.column.abstain {
  height: 45px;
  background-color: #D3CEDF;
}

.chartbtns {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.chartbtn {
  display: inline-block;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  border-radius: 50%;
  margin: 0.5em 0.5em 0 0;
  transition: opacity 0.5s;
}

.chartbtn.yes {
  background-color: #90C8AC;
}

.chartbtn.no {
  background-color: #FF8B8B;
}

.chartbtn.abstain {
  background-color: #D3CEDF;
}

.chartbtn:hover,
.chartbtn:focus {
  opacity: 0.9;
}

.oyiac {
  max-width: 600px;
  width: 60%;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin-bottom: 5em;
}

.oyiaob {
  font-size: 12pt;
  font-weight: 700;
}

.oyiaod {
  margin-top: 0.5em;
}

.code_network {
  color: #b85144;
}

.code_adr {
  color: #6d78d8;
}

.code_function {
  color: #6D42C7;
}

.oyao_bottom {
  width: 100%;
  margin-top: 3em;
}

.oybdis {
  margin: 1em 0;
  cursor: pointer;
  color: #2ec479;
}