#oy {
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#oyyb {
  max-width: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  padding: 2em;
  margin: 1em 1em 3em;
  border-radius: 10px;
  cursor: pointer;
}

#oyy {
  width: 80%;
  max-width: 800px;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  background-color: #fff;
  margin: 1em 1em 3em;
  overflow: visible;
}

#oyytitle {
  text-align: center;
  margin: 2em auto;
  font-weight: 700;
  width: 300px;
}

#oyyddc {
  position: relative;
  margin: auto;
  width: 80%;
  max-width: 250px;
  border-radius: 5px;
}

#oyyddb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 0.5em;
}

#oyyul {
  position: absolute;
  top: 35px;
  right: 0;
  display: block;
  width: 100%;
  max-width: 250px;
  margin: 1em 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
  cursor: pointer;
  z-index: 5;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.oyyli {
  height: 40px;
  margin: 1px;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: left;
}

.oyyli:hover {
  background-color: #f2f2f2;
}

#oyyc {
  display: flex;
  justify-content: center;
}

#oyy0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
  background-color: #fff;
}

.oyyb {
  margin-bottom: 1em;
}

#oyyfddc {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: #fff;
  border: 1px solid rgba(0 0 0 / 10%);
  border-radius: 10px;
  max-width: 250px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

#oyyfddc input::-webkit-outer-spin-button,
#oyyfddc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#oyyfi {
  outline: none;
  font-size: 17pt;
  border: none;
  font-family: monospace;
  background-color: inherit;
  width: 70%;
}

#oyytb {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
  width: 110px;
}

.oyyst {
  display: flex;
  align-items: center;
  justify-content: left;
  min-width: 80px;
}

#oyddul {
  position: absolute;
  display: block;
  top: 40px;
  right: -15px;
  margin: 1em 0;
  padding: 0;
  background-color: #fff;
  border: 1px solid #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 1px 20px rgb(0 0 0 / 20%);
  cursor: pointer;
  z-index: 5;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.oyddli {
  width: 100px;
  height: 40px;
  margin: 1px;
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 700;
}

.oyddli:hover {
  background-color: #f2f2f2;
}

.oyddli.sel {
  background-color: #eee;
}

.oyyor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 1em;
}

#oyy2 {
  margin: 1em;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}

.oyyta {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 5px;
  width: 100%;
  height: 80px;
  resize: none;
  box-sizing: border-box;
  padding: 1em;
  font-family: inherit;
  font-size: inherit;
  outline: none;
  margin-bottom: 1em;
}

#oyycvscc {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
}

.oyycvsc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 0.5em 0 0.5em 1em;
  margin-right: 1em;
}

.oyycvs {
  width: 50px;
  font-size: inherit;
  border: none;
  outline: none;
}

.oyycvsk {
  position: relative;
  opacity: 0.3;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  transition: all 0.3s;
  margin-left: 0.5em;
}

.oyycvsk:before,
.oyycvsk:after {
  position: absolute;
  top: 4px;
  right: 10px;
  height: 14px;
  width: 2px;
  content: "";
  border-radius: 1px;
  background-color: #333;
}

.oyycvsk:before {
  transform: rotate(45deg);
}

.oyycvsk:after {
  transform: rotate(-45deg);
}

.oyycvsk:hover {
  opacity: 1;
}

.oyycvtc {
  margin: 1em 0;
}

#oyycvti {
  border: 1px solid rgb(0 0 0 / 10%);
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
}

.oyc {
  max-width: 800px;
  width: 80%;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin-bottom: 3em;
}

.oycb {
  padding: 1em;
  font-weight: 700;
  font-size: 11pt;
  color: #888;
  border-bottom: 1px solid rgba(0 0 0 / 10%);
}

.oyok {
  max-height: 150px;
  padding: 1em;
  cursor: pointer;
  overflow: hidden;
  transition-property: max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
  border-bottom: 1px solid rgba(0 0 0 / 10%);
}

@media (max-width: 425px) {
  .oyok {
    max-height: 280px;
  }
}

.oyok.expand {
  max-height: 1000px;
  cursor: default;
}

.oyok:last-child {
  border-radius: 10px;
}

.oyao_top {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.oyaotitle {
  font-size: 12pt;
  font-weight: 700;
  color: #555;
}

.oyaotb {
  position: relative;
  cursor: pointer;
  width: 25px;
  height: 20px;
  opacity: 0.3;
  background-color: rgb(0 0 0);
  border-radius: 2px;
  transition: opacity 0.3s ease-in;
}

.oyaotb:hover {
  opacity: 0.7;
}

.oyaotb::before {
  position: absolute;
  top: 8px;
  left: 8px;
  content: "";
  height: 6px;
  width: 6px;
  border: solid #fff;
  border-width: 2px 2px 0 0;
  border-radius: 1px;
  transform: rotate(-45deg);
}

.oyao_middle {
  display: flex;
  width: 100%;
}

@media (max-width: 425px) {
  .oyao_middle {
    display: block;
  }
}

.oyaodac {
  width: 100%;
}

.oyaod {
  margin-top: 0.5em;
}

.oyaoac {
  margin-top: 1em;
  font-family: monospace;
  color: rgb(0 0 0 / 50%);
}

.oyaorem {
  color: rgb(0 0 0 / 60%);
  font-size: 10pt;
  margin-top: 1em;
  margin-bottom: 1em;
  display: flex;
}

.oyaoclock {
  position: relative;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.oyaoclock::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #90C8AC;
  box-sizing: border-box;
}

.oyaoclock::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 5px;
  top: 3px;
  left: 7px;
  border: solid #90C8AC;
  border-width: 0 0 1.5px 1.5px;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.column {
  margin-right: 0.5em;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 2px;
  width: 25px;
  height: 80px;
}

.column.yes {
  height: 80px;
  background-color: #90C8AC;
}

.column.no {
  height: 30px;
  background-color: #FF8B8B;
}

.column.abstain {
  height: 45px;
  background-color: #D3CEDF;
}

.chartbtns {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.chartbtn {
  display: inline-block;
  width: 25px;
  height: 25px;
  opacity: 0.3;
  border-radius: 50%;
  margin: 0.5em 0.5em 0 0;
  transition: opacity 0.5s;
}

.chartbtn.yes {
  background-color: #90C8AC;
}

.chartbtn.no {
  background-color: #FF8B8B;
}

.chartbtn.abstain {
  background-color: #D3CEDF;
}

.chartbtn:hover,
.chartbtn:focus {
  opacity: 0.9;
}

.oyiac {
  max-width: 600px;
  width: 60%;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 15%);
  border-radius: 10px;
  margin-bottom: 5em;
}

.oyiaob {
  font-size: 12pt;
  font-weight: 700;
}

.oyiaod {
  margin-top: 0.5em;
}

.code_network {
  color: #b85144;
}

.code_adr {
  color: #6d78d8;
}

.code_function {
  color: #6D42C7;
}

.oyao_bottom {
  width: 100%;
  margin-top: 3em;
}

.oybdis {
  margin: 1em 0;
  cursor: pointer;
  color: #2ec479;
}