#Footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 70px 0 40px;
}

.Column {
  margin: 7px 40px 0;
}

.Column>b {
  color: #061C3D;
}

.Column>a {
  display: block;
  margin: 15px 0;
  color: #666;
}

@media (max-width: 700px) {
  #SubscribeBox {
    display: none;
  }
}

#SubscribeBox {
  padding: 0 20px;
}

/**
 * Logo in the subscribe box
 */
#Logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
}

/**
 * Brand mark text
 */
#BrandMark {
  margin-top: 20px;
  display: inline-block;
  max-width: 320px;
  color: #666;
  line-height: 1.5;
}

/**
 * Text prompting the user to subscribe to the newsletter
 */
#SubscribeText {
  margin: 50px 0 12px;
  font-weight: 700;
  font-size: 13px;
}

/**
 * Dom id for the Subscribe stateless component.
 * @export
 */
#Subscribe {
  width: 330px;
  display: flex;
}