/**
 * @name {Kök}
 */
#sa {
  background: linear-gradient(90deg, #F8F8F8 -9.07%, rgba(132, 199, 255, 0.2) 100%, rgba(255, 255, 255, 0.8) 69.02%);
}

/**
 * @name {İçerik}
 */
#sai {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

/**
 * Ağları gösteren balonlar
 * @name {Balonlar}
 */
#sak {
  margin: 0 auto;
  padding: 35px 0 50px;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 40px 10px;
}

/**
 * Eylem düğmesi
 * @name {EylemDüğmesi}
 */
#sal {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 10px;
}

/**
 * Eylem bölümü
 * @name {Eylem}
 */
#saz {
  display: flex;
  justify-content: right;
  margin-top: 30px;
}

h2 {
  font-size: 40px;
}

/**
 * Ağları gösteren balonlar
 * @name {Balon}
 */
.sac {
  display: flex;
  height: 74px;
  width: 210px;
  border-radius: 12px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/**
 * KPass sahipleri sayısı
 * @name {BalonSayı}
 */
.sau {
  font-weight: 700;
  font-size: 20px;
}

/**
 * Ağ adı
 * @name {BalonAd}
 */
.saa {
  font-size: 12px;
}

.sac.x1 {
  background-color: #F1EBFF;
}

.sac.x38 {
  background-color: #FFC3C3;
}

.sac.mina {
  background-color: #B0FFDE;
}

.sac.xa4b1 {
  background-color: #FEEDFA;
}

.sac.xa86a {
  background-color: #D7AEFF;
}

.sac.x89 {
  background-color: #C6FFCB;
}

/**
 * Başlık altı metin
 * @name {Metin}
 */
.sat {
  display: inline-block;
  max-width: 375px;
}

@keyframes doner {
  from {
    transform: rotate(0deg) translateX(1.5px) rotate(0deg);
  }

  to {
    transform: rotate(360deg) translateX(1.5px) rotate(-360deg);
  }
}

@media (min-width: 800px) {
  .sac.x89 {
    position: relative;
    left: 60px;
    top: 20px;
    animation: doner 5s linear infinite;
  }

  .sac.xa86a {
    position: relative;
    left: 40px;
    top: 20px;
    animation: doner 5.4s linear infinite;
  }

  .sac.xa4b1 {
    position: relative;
    top: 20px;
    animation: doner 4.8s linear infinite reverse;
  }

  .sac.mina {
    position: relative;
    left: 10px;
    animation: doner 5.2s linear infinite;
  }

  .sac.x38 {
    position: relative;
    left: -40px;
    animation: doner 5.3s linear infinite reverse;
  }

  .sac.x1 {
    animation: doner 4.4s linear infinite;
  }
}