#Kök {
  row-gap: 50px;
  margin: 80px auto;
}

/**
 * Açıklama metnini içeren en sağdaki sütun
 */
#YazıSütunu {
  padding: 0 20px;
}

/**
 * KPass imzalarıni gösteren orta sütun
 */
#OrtaSütun {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Altıgen {}

.Düğümİmza:hover {
  opacity: 1;
}

/** @name {Düğümİmza} */
.Düğümİmza {
  align-items: center;
  border-radius: 15px;
  color: rgba(10, 10, 100, 0.9);
  cursor: default;
  display: flex;
  font-size: 14px;
  margin: 4px 0;
  opacity: 0.7;
  padding: 3px;
  transition: opacity 0.5s;
  width: 180px;
}

.DüğümNokta {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 5px;
}

.TimeD {
  background: #F9EFEF;
  border: 2px solid #E5AFAF;
}

.TimeDn {
  background: #E5AFAF;
}

.KDAON {
  background: #e9e0fb;
  border: 2px solid #9266EC;
}

.KDAONn {
  background: #9266EC;
}

.YeniB {
  background: #d6e6f5;
  border: 2px solid #3182CE;
}

.YeniBn {
  background: #3182CE;
}

.UBINU {
  background: #fdf2ff;
  border: 2px solid #F4BCFD;
}

.UBINUn {
  background: #F4BCFD;
}

.YenLi {
  background: #ecf8f3;
  border: 2px solid #9EDDC3;
}

.YenLin {
  background: #9EDDC3;
}

.LSTCM {
  background: #ddd;
  border: 2px solid #444;
}

.LSTCMn {
  background: #444;
}

.Kopru {
  background: #e8d5f9;
  border: 2px solid #8E2DE2;
}

.Koprun {
  background: #8E2DE2;
}

/**
 * KPass temsili
 */
#KPassTemsili {
  width: 280px;
  height: 145px;
  margin: -20px auto 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 15%);
  position: relative;
}

.GrafikMetin {
  font: 700 30px 'l';
  fill: #333;
  text-anchor: middle;
}

#Grafik {
  margin: auto;
}