#ag {
  margin: 40px 0 80px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: end;
  gap: 40px;
}

#agy {
  text-align: right;
  max-width: 500px;
  padding: 0 20px;
}

#agh {
  color: #3182CE;
}

#agb {
  font-size: 16px;
  line-height: 1.4;
}

.agi:hover {
  opacity: 1;
}

.agi {
  cursor: default;
  transition: opacity 0.5s;
  opacity: 0.7;
  font-size: 14px;
  border-radius: 15px;
  padding: 3px;
  margin: 4px 0;
  width: 180px;
  color: rgba(10, 10, 100, 0.9);
  display: flex;
  align-items: center;
  ;
}

.agp {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 5px;
}

.agss {
  background: #F9EFEF;
  border: 2px solid #E5AFAF;
}

.agssn {
  background: #E5AFAF;
}

.agkd {
  background: #e9e0fb;
  border: 2px solid #9266EC;
}

.agkdn {
  background: #9266EC;
}

.agyb {
  background: #d6e6f5;
  border: 2px solid #3182CE;
}

.agybn {
  background: #3182CE;
}

.agdo {
  background: #fdf2ff;
  border: 2px solid #F4BCFD;
}

.agdon {
  background: #F4BCFD;
}

.agdp {
  background: #ecf8f3;
  border: 2px solid #9EDDC3;
}

.agdpn {
  background: #9EDDC3;
}

.agls {
  background: #ddd;
  border: 2px solid #444;
}

.aglsn {
  background: #444;
}

.agk3 {
  background: #e8d5f9;
  border: 2px solid #8E2DE2;
}

.agk3n {
  background: #8E2DE2;
}

#agt {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#agtc {
  width: 280px;
  height: 145px;
  margin: -25px auto 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 15%);
  position: relative;
}

.agsvgt {
  font: 700 30px 'l';
  fill: #333;
  text-anchor: middle;
}

#agn {
  margin: auto;
  max-height: 400px;
}