#se {
  width: 40%;
  height: 60%;
  margin-right: 30px;
}

#setop {
  display: flex;
  align-items: center;
  height: 80%;
}

.sed {
  position: relative;
  width: 10px;
  height: 10px;
  padding: 10px;
  opacity: 0.3
}

.sed:hover {
  opacity: 0.7;
}

.sed.prev::before,
.sed.next::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  box-sizing: border-box;
  border: solid rgb(0, 0, 0);
  border-radius: 2px;
}

.sed.prev::before {
  transform: rotate(45deg);
  border-width: 0 0 4px 4px;
}

.sed.next::before {
  transform: rotate(-45deg);
  border-width: 0 4px 4px 0px;
}

#sepgc {
  width: 100%;
  overflow: hidden;
}

#sepgs {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  width: 400%;
  transition: transform 1s cubic-bezier(0.55, 0.06, 0.86, 0.2);
}

.sek {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 25%;
  height: 100%;
  font-weight: 400;
  font-size: 15pt;
}

#senavs {
  text-align: center;
  height: 10%;
  margin-bottom: 30px;
}

.seb {
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  margin: 4px 4px;
}

.seb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.seb.current {
  background-color: rgba(0, 0, 0, 0.7);
}

#sebn {
  display: flex;
  justify-content: center;
}

#seal {
  margin-right: 20px;
}
