#in {
  margin: 5em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#intckt {
  position: relative;
  width: 280px;
  height: 390px;
  perspective: 1000px;
}

.inl {
  text-decoration: none;
  border-bottom: 1px dotted;
}

#inn {
  width: 280px;
  height: 280px;
  outline: 2px dashed #c2c2c2;
  border-radius: 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

#intcktb {
  align-items: center;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
  cursor: pointer;
  display: flex;
  height: 35px;
  justify-content: center;
  position: absolute;
  top: 310px;
  width: 280px;
  font-weight: 700;
  color: #444;
}

#inbtn {
  max-width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 4em;
}
