.Chevron {
  margin: auto 8px;
}

.Panel {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #f8f8f8;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  left: -20px;
  padding: 0;
  position: absolute;
  top: 40px;
  width: 300px;
  z-index: 21;
}
