#imc {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

#imc input {
  height: 28px;
  outline: none;
}

#imc input::-webkit-outer-spin-button,
#imc input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#imlbl {
  display: flex;
  justify-content: space-between;
  margin: 2em 2.5em 0.8em 0;
}

.imin {
  border: 1px solid #dc3545;
}

.imb {
  margin: auto 0;
}

.im4>.imcont>.imdel {
  opacity: 0.3
}

.im4>.imcont>.imdel:hover {
  opacity: 1;
}

#ims {
  width: 5%;
  border: none;
  text-align: center;
  margin-right: 21px;
  margin-left: 24px;
}

.imtc {
  justify-content: right;
}

.imtc a {
  min-height: 26px;
}

.imdc {
  text-align: right;
  margin: -35px 29px 0 0;
}