/** @export */
#Products {}

/** @export */
#Developers {}

#Products, #Developers {
  position: relative;
  margin: auto 0;
}

#Header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  z-index: 20;
}

/** @export */
#ActionButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  min-width: 10ex;
  padding: 0 1em;
}

@media (max-width: 1000px) {
  #Header {
    margin: 0;
  }

  #ActionButton { display: none; }
}

@media (max-width: 800px) {
  #Products, #Developers { display: none; }
}
