/** @export */
#Products {
  position: relative;
  margin: auto 0;
}

/** @export */
#Developers {
  position: relative;
  margin: auto 0;
}

#Header {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  height: 80px;
  justify-content: space-between;
  position: sticky;
  z-index: 20;
}

/** @export */
#ActionButton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 2px;
  min-width: 10ex;
  padding: 0 1em;
}

@media (max-width: 1000px) {
  #Header {
    margin: 0;
  }
}

.DropdownItem {
  color: inherit;
  display: block;
  margin: 1px;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
}

.DropdownItem:hover {
  background-color: #f2f2f2;
}

.DropdownItemTitle {
  display: block;
  font-weight: 700;
  padding: 2px 8px;
}

.DropdownItemDesc {
  padding: 2px 8px;
  display: block;
  min-height: 32px;
  line-height: 1.4;
  font-size: 10pt;
  font-weight: 400;
  margin-top: 4px;
  color: #666;
}
